* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  background: blueviolet;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav a {
  display: block;
  color: #fff;
}

.titulo {
  display: grid;
}

.titulo h1 {
  font-size: 2rem;
  justify-self: center;
  padding-bottom: 4px;
  color: blueviolet;
  border-bottom: 2px solid blueviolet;
  margin-top: 2rem;
}
