<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Professores</title>
</head>

<body>
  <section>
    <div>Lista de professores</div>
    <ul>
      <!-- {% for professor in professores %}
      <li>
        <a href="{{ url_for('professores.get_professores', id_professor=professor.id) }}">{{ professor.nome }} (ID: {{ aluno.id }})</a>
      </li>
      {% endfor %} -->
    </ul>
  </section>
</body>

</html>