<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar professores</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/professores.css') }}">
</head>

<body>
  <header class="header">
    <h1>Escola Flask</h1>
    <nav class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('professores.get_professores')}}">Professores</a></li>
        <li><a href="{{ url_for('alunos.list_alunos')}}">Alunos</a></li>
        <li><a href="{{ url_for('turmas.get_turmas')}}">Turmas</a></li>
      </ul>
    </nav>
  </header>
  <section class="container professores-adicionar">
    <h1>Adiconar professores</h1>
    <form action="{{ url_for('professores.create_professores') }}" method="POST">
      <div>
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>
      </div>
      <div>
        <label for="idade">Idade: </label><br>
        <input type="number" id="idade" name="idade" required><br>
      </div>
      <div>
        <label for="materia">Matéria: </label><br>
        <input type="text" id="materia" name="materia" required><br>
      </div>
      <div>
        <label for="observacoes">Observaçoes: </label><br>
        <textarea type="observacoes" id="observacoes" name="observacoes" required></textarea>
      </div>
      <input type="submit" value="Adicionar professor" class="professores-adicionar-enviar">
    </form>
  </section>
</body>

</html>