<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Turmas</title>
</head>

<body>
  <form action="{{ url_for('turmas.create_turmas') }}" method="POST">
    <div>
      <label for="descricao">Descrição: </label><br>
      <input type="text" id="descricao" name="descricao" required><br>
    </div>
    <div>
      <label for="professor">Professor: </label><br>
      <select name="professor" id="professor">
        {% for professor in professores %}
        <option value="{{professor.id}}">
            {{professor.nome}}
        </option>
        {% endfor %}
      </select>
    </div>
    <div>
        <label for="ativo">Ativo: </label>
        <select name="ativo" id="ativo">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
    <input type="submit" value="Adicionar Turma">
  </form>
</body>

</html>