<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar professores</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/professores.css') }}">

</head>

<body>
  <header class="header">
    <h1>Escola Flask</h1>
    <nav class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('professores.get_professores')}}">Professores</a></li>
        <li><a href="{{ url_for('alunos.list_alunos')}}">Alunos</a></li>
        <li><a href="{{ url_for('turmas.get_turmas')}}">Turmas</a></li>
      </ul>
    </nav>
  </header>
  <section class="container">
    <h1>Atualizar Turmas</h1>
    <div class="professor-editar">
      <p>Descrição: {{ turma.descricao }}</p>
      <p>Professor: {{ turma.nomeProfessor }}</p>
      <p>Ativo: {{ turma.ativo }}</p>
    </div>
    <form action="{{ url_for('turmas.update_turma', id_turma=turma.id) }}" method="POST" class="professor-editar">
      <div>
        <label for="descricao">Descrição: </label><br>
        <input type="text" id="descricao" name="descricao" required><br>
      </div>
      <div>
        <label for="professor">Professor: </label><br>
        <select name="professor" id="professor">
          {% for professor in professores %}
          <option value="{{professor.id}}">
            {{professor.nome}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="ativo">Ativo: </label>
        <select name="ativo" id="ativo">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>
      <input type="submit" value="Atualizar Turma" class="professor-editar-enviar">
    </form>
  </section>
</body>

</html>